body {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    background-color: #a48b69;
}

.barra-superior {
    position: absolute;
    top: 30px;
    left: 54%;
    z-index: 10;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
    font-size: 20px;
}

.localizacao a {
    color: white;
    text-decoration: none;
}

.redes-sociais a:hover {

    text-decoration: underline;
}

.imagem-fundo {
    position: relative;
    z-index: 0;
    background-image: url(FundoAdemir.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-fundo img {
    transition: transform 0.3s, opacity 0.3s;
    cursor: pointer;
}

.imagem-fundo a img:hover {
    transform: scale(1.05);
    opacity: 0.7;
}

.redes-sociais a {

    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.menu {
    position: absolute;
    top: 90%;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    font-size: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
    transform: scale(1.05);
    opacity: 0.7;
}