body {
    font-family: 'Lugrasimo', sans-serif;
    margin: 0;
}

.imagem-fundo {
    position: relative;
    background-image: url(Fundo.png);
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra-superior {
    position: absolute;
    top: 0;
    left: 0;
    width: 97.4%;
    z-index: 10;
    background-color: #a8131385;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    font-size: 14px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}



.redes-sociais a {

    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.redes-sociais a:hover {

    text-decoration: underline;
}

.menu {

    background-color: #289e04;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
}